@import '../../../assets/styles/import.scss';
@import '../../../variables.scss';

.departure-display {
    width: 100%;
    display: flex;
    position: absolute;
    height: auto;
    bottom: 0.25rem;
    align-items: center;
    justify-content: center;
}
