@import '../../../assets/styles/import.scss';
@import '../../../variables.scss';

.departure-row {
    color: $colors-brand-blue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin: 0.2rem;

    &__departure {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
}
