@import '../../../assets/styles/import.scss';
@import '../../../variables.scss';

.entur-tooltip {
    background-color: $colors-brand-white;
    //box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
    padding: 0.3125rem 0.625rem;
    position: absolute;
    z-index: 9999;
    width: 114px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding-bottom: 2px;
    border: solid;
    border-color: #BABBCF;
    border-width: thin;

    &::after {
        background: $colors-brand-white;
        content: '';
        height: 0.625rem;
        position: absolute;
        transform: rotate(45deg) translateY(-0.02rem);
        width: 0.625rem;
        z-index: -1;
        border-bottom: solid;
        border-right: solid;
        border-color: #BABBCF;
        border-width: thin;
    }
    &--top {
        bottom: calc(100% + 0.625rem);
        left: 50%;
        transform: translateX(-50%);
        &::after {
            bottom: -0.375rem;
            left: calc(50% - 0.3125rem);
        }
    }
    &--right {
        left: calc(100% + 0.625rem);
        top: 50%;
        transform: translateY(-50%);
        &::after {
            bottom: calc(50% - 0.3125rem);
            right: calc(100% - 0.3125rem);
        }
    }
}